.idea
.project
.settings

caldecott.log
isi-grailsPlugins.iml
isi.iml

#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.iml
.idea
*~.nib

build/
target/
adhoc/